<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!-- <input type="datetime" name="" id=""> -->
    <!-- <input type="datetime"> -->
<!-- <input type="datetime-local"> -->
<input type="time" name="" id="">
<input type="email">

<select name="" id="">
    <option value="" selected>Regular</option>
    <option value="">vacation</option>
</select>
<input type="radio" name="gender" id="gen_male" checked>male
<input type="radio" name="gender" id="gen_female">female

<input type="number" placeholder="Enter Age">
<input type="password" placeholder="Enter password">
</body>
</html>